# Data Science Tools and Ecosystem

## Author
Ian Daniel

In this notebook, Data Science Tools and Ecosystem are summarized.

### - Popular languages
### - Commonly used libararies
### - Data Science Tools

Some of the popular languages that Data Scientists use are:
    
    1. Python
    
    2. R
    
    3. SQL

Some of the commonly used libraries used by Data Scientists include:
    
    1.NumPy.
    
    2.Keras.
    
    3.Pandas.

Data Science Tools:

    RStudio.

    Apache Spark.

    TensorFlow.

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
# This is a simple arithmetic expression to multiply then add integers

In [13]:
(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60

In [ ]:
minutes = 200
hours = minutes / 60
rounded_hours = round(hours, 2)  # Rounds to 2 decimal places
print(rounded_hours)